<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/theme.js" defer></script>
    <script src="/js/headerActions.js" defer></script>
    <script src="/js/imagePreview.js" defer></script>
    <script src="/js/bulkDelete.js" defer></script>
    <title>Morpho Admin Panel - <%= title %></title>
</head>
<body>
    
    <%- include('partials/header') %>
    <%- include('partials/sidebar') %>

    <div class="content <%= user ? "active" : "" %>">
        <%- body %>
    </div>

</body>
</html>