<div class="action">
  <h1><%= title.charAt(0).toUpperCase() + title.slice(1) %></h1>

  <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" method="post">

    <label>Language</label>
    <input type="text" name="lang" value="<%= data.lang %>" />

    <label>Subtitle</label>
    <input type="text" name="subtitle" value="<%= data.subtitle %>" />

    <label>Offer Button</label>
    <input type="text" name="offer_btn" value="<%= data.offer_btn %>" />

    <h2>STEPS</h2>

    <div id="steps-container">

      <% data.steps.forEach(s => { %>
        <div class="submenu-row">

          <div class="submenu-fields">
            <input type="text" name="step_number[]" value="<%= s.number %>" />
            <input type="text" name="step_title[]" value="<%= s.title %>" />
          </div>

          <div class="submenu-actions">
            <button type="button" class="remove-btn">✖</button>
          </div>

        </div>
      <% }) %>

    </div>

    <button type="button" id="add-step" class="submit submenu">
      Add step
    </button>

    <button type="submit" class="submit">Update</button>

  </form>
</div>

<script src="/js/smmSteps.js"></script>