<div class="action">
  <h1><%= title.charAt(0).toUpperCase() + title.slice(1).toLowerCase() %></h1>

  <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" method="post">
    <label>Language</label>
    <input type="text" name="lang" value="<%= data.lang %>" />

    <label>Badge</label>
    <input type="text" name="badge" value="<%= data.badge %>" />

    <label>Title</label>
    <input type="text" name="title" value="<%= data.title %>" />

    <label>Description</label>
    <input type="text" name="descr" value="<%= data.descr %>" />

    <button type="submit" class="submit">Update</button>
  </form>
</div>
